.contenitore{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-device-width:700px){
    #index{
        height: 60vh;
    }
}